.formCalculo {
 display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 1rem;
  border-radius: 10px;
  background-color: #e9e1fa;
  margin: 1rem;
}

.botonCalcular {
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0.7em;
  border-radius: 8px;
  border: 1px solid #5bc0de;
  background-color: #d9edf7;
  color: #337ab7;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.agujasPasadasMuestra .cmMolde .cmMuestra {
margin: 1rem;
padding: 1rem;
}
