.formCalculo {
  display: flex;
   flex-direction: column;
   align-self: center;
   padding: 2rem;
   border-radius: 10px;
   background-color: #f7cb90;
   margin: 2rem;
}
 .botones{
  display: flex;
  flex-direction: column;
 }

 .botonCalcular {
   justify-content: center;
   font-size: 1rem;
   padding: 0.5rem;
   margin: 0.5rem;
   border-radius: 8px;
   border: 1px solid #5bc0de;
   background-color:#cbf3f0;
   color: black;
   cursor: pointer;
 }

 .botonBorrarTodo {
   justify-content: center;
   font-size: 1rem;
   padding: 0.5rem;
   margin: 0.5rem;
   border-radius: 8px;
   border: 1px solid #5bc0de;
   background-color:#cbf3f0;
   color: black;
   cursor: pointer;
 }
 .botonBorrarMolde {
   font-size: 1rem;
   padding: 0.5rem;
   margin: 0.5rem;
   border-radius: 8px;
   border: 1px solid #5bc0de;
   background-color:#cbf3f0;
   color: black;
   cursor: pointer;
 }
/*
 .agujasPasadasMuestra .cmMolde .cmMuestra {
  display:flex;
  justify-content: center;
 margin: 1rem;
 padding: 1rem;
 }*/

 .datos{
  display: flex;
  justify-content: center;/*
  margin: 1px;
  padding: 1px;
  width: 20vh;*/
 }